html {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 0px;
  justify-content: center;
  background-color: #04333F;
  display: flex;
  text-size-adjust: none;
  margin: 0px;
}

pre {
  white-space: pre-wrap;
}

/** Rule for mobile screens */
@media (min-resolution: 192dpi) and (max-device-width: 1200px), (min-device-pixel-ratio: 2) and (max-device-width: 1200px), (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 1200px) {
   body {
      font-size: 230%;
   }

   .navbar {
      padding-left: 18px;
      padding-top: 3px;
      padding-bottom: 6px;
   }

   .tagline {
      margin-top: 50px;
      font-size: 200%;
      margin-bottom: 0px;
   }

   .taglineTwo {
      font-size: 140%;
      font-weight: bold;
      margin-bottom: 18px;
   }

   .intro {
      margin-bottom: 0px;
      font-size: 100%;
   }

   .navMenuIcon {
       height: 60px;
   }

   #mainSection {
      padding-top: 80px;
   }

   .mobileImage75 {
      width: 75%;
   }

   .docInputTag {
      font-size: 100%;
   }

   .productTitle {
      font-size: 160%;
   }

   .capsuleSmall {
      width: 400px;
      height: 400px;
   }
   .capsuleMenu {
      width: 388px;
   }
   .capsuleMenuItem {
      width: 378px;
   }
   .capsuleExpanded {
      height: 1500px;
   }
   .capsuleContent {
      overflow: hidden;
      width: 95%;
      padding-top: 8px;
      margin-left: 5;
   }
   .closeIconSize {
      width: 52px;
      height: 52px;
      vertical-align: -20px;
   }
   /* 
    * For examples, managementUI on mobile devices in particular there are some lines with no spaces for the first 60 chars or so that for some reason cause the code
     section to expand rather than scroll which expands the whole page. 
   */
   .code {
      font-size: 70%;
   }

   .jbIcon {
      width: 100px;
      height: 100px;
   }
}

/** Rule for desktops screens */
@media (max-resolution: 191dpi), (max-device-pixel-ratio: 1.99), (-webkit-max-device-pixel-ratio: 1.99)  {
   body {
      font-size: 100%;
   }

   .navbar {
      padding-left: 45px;
      padding-top: 5px;
      padding-bottom: 6px;
   }

   .tagline {
      margin-top: 106px;
      font-size: 310%;
      margin-bottom: 0px;
   }

   .taglineTwo {
      font-size: 180%;
      font-weight: bold;
      margin-bottom: 36px;
   }

   .intro {
      margin-bottom: 0px;
      font-size: 120%;
      max-width: 750px;
   }


   #mainSection {
      padding-top: 30px;
   }

   .mobileImage75 {
   }

   .nav {
      display: flex;
      white-space: nowrap;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-left: 20px;
      margin-bottom: 0px;
      margin-top: 5px;
   }

   .nav li {
      display:inline;
   }

   .productTitle {
      font-size: 210%;
   }

   .capsuleSmall {
      width: 182px;
      height: 185px;
   }
   .capsuleMenu {
      width: 170px;
   }
   .capsuleMenuItem {
      width: 160px;
   }
   .capsuleExpanded {
      height: 500px;
   }
   .capsuleContent {
      overflow: hidden;
      width: 65%;
      padding-top: 8px;
      margin-left: 190px;
   }
   .closeIconSize {
      width: 24px;
      height: 24px;
      vertical-align: -7px;
   }

   #content {
   }

   .jbIcon {
      width: 50px;
      height: 50px;
   }
}

/** Retina displays */
@media (min-device-pixel-ratio: 2.00) and (min-device-width:1200px), (-webkit-min-device-pixel-ratio: 2.00) and (min-device-width: 1200px)  {
   body {
      font-size: 125%;
   }

   .navbar {
      padding-left: 45px;
      padding-top: 5px;
      padding-bottom: 6px;
   }

   .tagline {
      margin-top: 106px;
      font-size: 310%;
      margin-bottom: 0px;
   }

   .taglineTwo {
      font-size: 180%;
      font-weight: bold;
      margin-bottom: 36px;
   }

   .intro {
      margin-bottom: 0px;
      font-size: 120%;
      max-width: 750px;
   }


   #mainSection {
      padding-top: 30px;
   }

   .mobileImage75 {
   }

   .nav {
      display: flex;
      white-space: nowrap;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-left: 20px;
      margin-bottom: 0px;
      margin-top: 5px;
   }

   .nav li {
      display:inline;
   }

   .productTitle {
      font-size: 210%;
   }

   .capsuleSmall {
      width: 182px;
      height: 185px;
   }
   .capsuleMenu {
      width: 170px;
   }
   .capsuleMenuItem {
      width: 160px;
   }
   .capsuleExpanded {
      height: 500px;
   }
   .capsuleContent {
      overflow: hidden;
      width: 65%;
      padding-top: 8px;
      margin-left: 190px;
   }
   .closeIconSize {
      width: 24px;
      height: 24px;
      vertical-align: -7px;
   }

   #content {
   }

   .jbIcon {
      width: 50px;
      height: 50px;
   }
}

#content {
  background-color: #FFFFFF; 
  padding-top: 4px;
  width: 100%;
}

#mainSection {
   display: flex;
}

#mainPanel {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ffffff;
  padding-right: 0%;
  padding-bottom: 8px;
}

.actionButtons {
  margin-top: 10px;
  text-align: center;
}

.actionButton {
  margin-left: 15px;
  padding-top: 8px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 8px;
  /* background-color: #c6510f;  */
  /* background-color: #e66013;*/
  /* background-color: #ff7628; */
  background-color: #d47a46;
  font-size: 120%;
  color: #000;
  text-decoration: none;
}

.actionButton:hover {
  color: #ccc;
  transition: color 0.25s ease-out;
}


h1 { 
   /* font-size: 26px;  */
   margin: 1em 0px 0.5em; 
   padding-top: 4px; 
   border-top: 1px dotted #d5d5d5; 
}
h2 { 
   padding: 0px;
   padding-bottom: 3px;
   font-size: 120%;
   margin: 0.5em 0 0.5em;
}

.highlight {
   padding: 2px;
   font-size: 130%;
   font-weight: bold;
   color: #0815D0;
}

.code, code {
   width: 100%;
}

.code, code, .qcode {
   white-space: pre-wrap;
   color: #000; 
   border: 1px solid #000047;
   padding: 6px;
   display: block;
   margin-top: 2px;
   /* background-color: #EDF5FD; */
   background-color: #F5FAFF;
   max-height: 50em;
   max-width: 90%;
   overflow: auto;
   line-height: 130%;
}

.qcode {
   width: auto;
}

.code p {
   margin: 0px;
}

.filename {
   margin-top: 10px;
   position: relative;
   font-size: smaller;
   font-family: monospace; 
   line-height: 100%;
}

.member {
   color: #570057;
   font-weight: bold;
}

.keyword {
   color: #000557;
   font-weight: bold;
}

.string {
   color: #003000;
}

.templateString {
   color: #003535;
}

.comment {
   color: #222;
}

.tagBox {
   width: 100%;
   height: 420px;
   margin-top: 20px;
   margin-bottom: 0px;
   text-align:center;
/*
    background-image: linear-gradient(#28479eb8, #e8b575fa);   */
/* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(69,86,102,1) 0%, rgba(34,34,34,1) 90% ); */

/*
background-image: radial-gradient( circle farthest-corner at 10% 20%,  
         #0b5467 0%, #04333F 100% );

background-image: radial-gradient( circle 902px at 10% 20%,  #04333F 0%, #0b5467 100.2% ); 

background-image: radial-gradient( circle 902px at 10% 20%,  #04333F 0%, #0b4967 100.2% );


background-image: radial-gradient( circle 902px at 10% 20%,  #04333F 0%, #0b4967 100% ); */

background-image: radial-gradient( circle 600px at 50% 70%,  #0b4967 0%, #04333F 100% );


   /* background-image: linear-gradient( 171.8deg,  rgba(5,111,146,1) 13.5%, rgba(6,57,84,1) 78.6% ); */

}

.tagline, .taglineTwo, .intro {
   /* color: #000; */
    color: #dcdcdc;
}

.tagline {
   text-align: center;
}

.taglineTwo {
   font-weight: bold;
}

.intro {
   margin-left: auto;
   margin-right: auto;
}


.videoLink {
   font-size: 120%;
}

.videoBoxWithTitle {
   width: 600px;
   margin-left: 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.boxSeparator {
   margin-top: 12px;
   margin-left: 30%;
   margin-right: 30%;
   opacity: 0.5;
   width: 100%;
}

.infoBoxTitle {
   /* font-size: larger; */
   font-size: 140%;
   font-weight: bold;
   margin-bottom: 4px;
}

.infoBoxHeader {
   font-size: 100%;
   font-weight: bold;
}

.infoBox {
   padding-top: 70px;
}

.infoBoxLink {
   text-decoration: underline;
}

.graphicBox {
   padding-top: 70px;
}

.infoBox, .graphicBox {
   background-color: #FFFFFF; 
   padding-left: 1%;
   padding-right: 1%;
   padding-bottom: 50px;
   margin-right: 0.8%;
   /* border: 1px solid #112255; */
   display: flex;
   align-items: center;
   justify-content: center;
   box-sizing: border-box;
   /* font-size: 14px; */
}

.pageContent, .exampleContent {
   margin-top: 25px;
}

.infoBoxLinkBody, .infoBoxBody, .mainContentBody, .pageContent {
   line-height: 150%;
}

.infoBoxLinkBody a {
   text-decoration: none;
   color: #000;
}

.infoBoxBody a {
   color: #000;
}

.infoBoxLinkBody a:hover {
   text-decoration: none;
   color: #333333;
}

@media (min-width: 1230px), (min-device-width: 1200px) {
   .infoBox {
        max-width: 30%;
   }

   .graphicBox {
        max-width: 69%;
   }

   .infoBoxImage {
   }

   .infoBoxBody, .infoBoxLinkBody {
       max-width: 380px;
       padding-right: 25px;
   }

   .infoBoxGraphicBody {
   }

   .tagBox {
       width: 100%;
   }
   .tagBox {
       /* height: 190px; */
   }

}

@media (max-width: 1230px) and (min-width: 850px) and (max-resolution: 191dpi), (max-device-pixel-ratio: 1.99), (-webkit-max-device-pixel-ratio: 1.99dpi) {
  .infoBox {
     max-width: 700px;
  }

  .mobileImage75 {
  }

  .infoBoxImage {
  }

  .infoBoxBody, .infoBoxLinkBody {
      max-width: 350px;
      padding-right: 25px;
  }

   .tagBox {
       width: 100%;
   }

}

@media (max-width: 1230px) and (min-width: 850px) and (min-resolution: 192dpi), (min-device-pixel-ratio: 2.0) and (max-device-width: 1200px), (-webkit-min-device-pixel-ratio: 2.0) and (max-device-width: 1200px) {
  .infoBox {
      flex-wrap: wrap;
  }
  .graphicBox {
      width: 100%;
   }

  .infoBoxImage {
     width: 100%;
  }
  .tagBox {
      width: 100%;
  }
  .infoBoxBody, .infoBoxGraphicBody, .infoBoxLinkBody {
      width: 100%;
  }
}


@media (max-width: 850px) {
  .infoBox {
     flex-wrap: wrap;
     width: 100%;
  }
  .graphicBox {
      width: 100%;
   }
  .infoBoxBody, .infoBoxGraphicBody, .infoBoxLinkBody {
      max-width: 100%;
  }
  .infoBoxImage {
  }
  .tagBox {
      width: 100%;
  }
  .infoBoxBody, .infoBoxGraphicBody, .infoBoxLinkBody {
      width: 100%;
  }
}


.infoBoxSelected {
   border-color: #7CB0F1;
}

.infoBoxSelected:hover {
   border-color: #7CB0F1;
}

.detailBox ul {
   margin-top: 0px;
}

.detailBox {
   margin-top:10px;
   padding-right: 15px;
}

.mainContent, .videoBox {
   display: flex;
   align-items: center;
   justify-content: center;
}

.mainContentBody {
   max-width: 900px;
}

.videoContentBody {
   width: 700px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

#title { 
   text-decoration:none; 
   /* color: #134783;  */
   /* border-bottom: 0px;  */
   margin-left: 0px;
}

.productLink {
   text-decoration:none; 
   white-space: nowrap;
}

.videoBox {
   width: 96%;
}

.mainContent h3, .mainContent h4 {
   margin-bottom: -5px;
}

.productTitle {
  display: inline;
  /* color: #c6510f; */
  /* color: #e66013;*/
  color: #d47a46;
   /* font-family: "candara"; */
}

.productTitle {
   padding-left: 2px;
   vertical-align: middle;
}

.navbarPanel {
   position: fixed;
   z-index: 20;
   top: 0;
   left: 0;
   width: 100%;
   background-color: #04333F;
   /* border-bottom: 4px solid #fff; */
}


.navbar {
   text-decoration:none;

   display: flex;
   align-items: center;  
   flex-direction: row;
}

.nav {
   list-style:none;
}

.nav a {
   text-decoration:none;
   padding-left: 14px;
   padding-right: 14px;
   color: #dcdcdc;
   font-size: 120%;
}

.nav a:hover {
        /* background-color: #EDF5FD; */
        /* background-color: #c3eaea; */
        /*background-color: #BEDCFA;*/
        /*border-bottom: 3px solid #9CD0FF;*/
        border-bottom: 3px solid #e8b575fa; 
        /*border-bottom: 3px solid #28479e;*/
}
.nav a.active {
    font-weight: bold;
    /* border-bottom: 3px solid #7CB0F1;*/
    border-bottom: 3px solid #d47a46;
    }

.layer1 {
   background-color: #F4C9A4; 
}

.layer2 {
  background-color: #E27C58;
}

.layer3 {
  background-color: #C84632;
}

.layer4 {
  background-color: #A73F37;
}

.layer5 {
  background-color: #510602;
}

.layer6 {
  background-color: #370D0F;
  color: #FFFFFF;
}

.layeredBkg {
   background-image: url('images/stratacodelogobkgtiny3.jpg');
   background-repeat: repeat-x;
   padding-left: 0px;
   background-position: left center;
}

.layerHeader {
   width: 325px;
   padding: 12px;
 }


.mainFlipCell {
  width: 100%;
  height: 500px
}

.innerFlipCell {
  width: 65%;
  height: 500px;
}

.nextul {
  list-style: none; 
  padding-left: 0px;
  padding-top: 0px;
  border-top: 0px;
  margin-top: 0px;
  display:inline;
}

.nextul li {
  display: inline;
  padding-top: 0px;
  margin-top: 0px;
  width:17px; 
  height:17px;  
}

#mainpager { 
  list-style: none; 
  padding-left: 0px;
  padding-top: 0px;
  border-top: 0px;
  margin-top: 0px;
}
#mainpager li {
  background-image: url('images/unselected.png'); 
  width:17px; 
  height:17px;  
  display: inline;
  padding-top: 0px;
  margin-top: 0px;
  padding-right: 17px;
}
#mainpager li.activeSlide { 
  background-image: url('images/selected.png') 
}

.innerPager {
   position: relative; 
   left:500px; 
   top:480px; 
   z-index:1000;
   display: inline;
}

.innerPager ul {
  list-style: none; 
  padding-top: 0px;
  margin-top: 0px;
  padding-left: 0px;
  z-index:1000;
  display: inline;
}

.innerPagerLi {
  background-image: url('images/unselected.png'); 
  padding-right: 17px;
  width:17px; 
  height:17px;  
  display: inline;
  padding-top: 0px;
  margin-top: 0px;
  z-index:1000
}

.innerPager li.activeSlide {
  background-image: url('images/selected.png'); 
}

.openArrow {
   width:0px; 
   height:0px; 
   border-left: 18px solid transparent; 
   border-right: 18px solid transparent; 
   border-bottom: 14px solid #9EBDDB;
   position:absolute; left:128px; top: -19px;
}

.exampleIndex, .pageIndex {
   /* width: 25%; */
   background: #fff;
   padding-left: 15px;
}

.pageIndexTitle {
   margin-left: 12px;
   padding-top: 15px;
}

/* List entries */
.exampleIndex, .pageIndexEntry, .exampleIndexEntry, .videoBox {
   padding-top: 2px;
   padding-bottom: 4px;
}


.pageIndexEntry {
   margin-right: 15%;
}

.pageIndexMenu, .exampleIndexMenu {
   margin-top: 20px;
}

.pageIndexEntry:hover {
   /* background-color: #e8b575fa; */
   border-left: solid 3px #e8b575fa;
}

.exampleIndexEntry a, .videoBox a, .pageIndexEntry a {
  text-decoration: none; 
  color: #000;
}

.exampleIndexEntry a:visited, .videoBox a:visited, .pageIndexEntry a:visited {
  color: #000;
}


/** Full page width */
.navbar, .mainContent {
   /* width: 96%; */
}

.detailBox {
  width: 96.2%;
  /* background-color: #c3eaea; */
  background-color: #BEDCFA;
}

.pageIndexEntry, .exampleIndexEntry, .videoBox {
   background-color: #fff;
   border-left: solid 3px #fff;
}

#exampleContent, .mainContent, #pageContent, #sectionContent  {
   background-color: #fff;
}

#sectionContent {
  padding: 10px;
}

#sectionContent h2 {
  margin: 10px 0 10px 0;
}

.pageIndexSelected, .exampleIndexSelected {
   color: #000;
   /* background-color: #d47a46;*/
   border-left: solid 3px #d47a46;
}

.sectionSelected {
    border-bottom: 3px solid #d47a46;

}

#ideIndexList, #webIndexList {
   list-style: none;
   padding-inline-start: 0px;
}

#ideIndexList li + li {
    border-top: 0px;
}

.ideIndexSelected, .ideIndexEntry, .webIndexSelected, .webIndexEntry {
   padding-left: 12px;
   padding-right: 5px;
   padding-top: 3px;
   padding-bottom: 3px;
   max-width: 250px;
}

.ideIndexSelected a, .ideIndexEntry a, .webIndexSelected a, .webIndexEntry a {
   width: 100%;
   text-decoration:none;
   color: #000;
}

.ideIndexEntry, .webIndexEntry {
   border-left: solid 3px #fff;
}

.ideIndexSelected, .webIndexSelected {
   border-left: solid 3px #d47a46;
}

.ideIndexEntry:hover, .webIndexEntry:hover {
   border-left: solid 3px #e8b575fa;
}

/* Floating boxes on the background */
.mainContent, .videoBox {
  padding-top: 30px;
   padding-left: 1%;
   padding-right: 1%;
   padding-bottom: 8px;
}

.detailBox {
   padding-top: 8px;
   padding-left: 1%;
   padding-right: 1%;
}

/* Floating boxes on the background */
.pageIndexEntry, .exampleIndexEntry {
   padding-top: 4px;
   padding-left: 10px;
   padding-right: 1%;
}

.exampleIndexEntry {
   overflow: auto;
}


#exampleContent, #pageContent {
   margin-left: 0px;
   margin-right: 40px;
   min-height: 30%;
   padding-top: 25px;
   padding-left: 1%;
   padding-right: 1%;
   padding-bottom: 1%;
   max-width: 950px;

   flex: 1 1 auto;
}


.exampleIndexTitle {
   padding-bottom: 2px;
   padding-top: 2px;
}

.exampleTitle, .videoTitle, .exampleIndexTitle {
   font-weight: bold;
}

.videoTitle, .exampleTitle, .pageTitle {
   font-size: 100%;
   padding-bottom: 2px;
   padding-top: 2px;
}

.introBox, .videoTitle {
  /* margin-left: 130px; */
}


.ideIndexTitle {
   padding-top: 2px;
   padding-bottom: 2px;
}


.capsule {
  float: left;
  background: #FFFFFF;
  margin: 5px;
  margin-left: 16px;
  border: solid 1px #aaa;
}

.capsuleExpanded {
   width: 96%; 
}

.capsule:hover {
}


.capsuleTitle {
   positition: relative;
   width:auto;
   font-weight:bold;
   font-size: 115%;
   color:#444;
   padding-top: 3px;
   padding-bottom: 3px;
   padding-left: 5px;
}

.capsuleMenu {
   float: left;
}

.capsuleMenu ul {
   list-style: none;
   padding-left: 5px;
}

.capsuleMenuItem {
   cursor: pointer;
   padding-top: 4px;
   padding-left: 5px;
   padding-right: 4px;
   padding-bottom: 4px;
   border-left: solid 3px #fff;
   text-decoration: underline;
}

.capsuleMenuItemSelected {
   border-left: solid 3px #d47a46;
}

.capsuleMenuItem:hover {
   border-left: solid 3px #e8b575fa;
}

.capsuleContentTitle {
   font-weight: bold;
   font-size: 120%;
   color: #000;
   margin-left: 140px;
}

.closeCapsule {
   padding-left: 3px;
   padding-right: 3px;
   cursor: pointer;
}

.closeCapsule:hover {
   color: #0F1F99;
}

#docOverview {
   min-height: 398px;
}

.insetBox {
   padding: 15px;
   background-color: #DDD;
}

.centerImageBlock {
   margin: 0px auto;
   display: block; 
   max-width: 90%;
}


#pageFooter {
   padding-top: 7px;
   padding-left: 50px;
   padding-bottom: 7px;
   background-color: #04333F;
   color: #dcdcdc
}

.copyright {
   padding-left: 20px;
   vertical-align: -7px;
}

.navMenuIcon {
   vertical-align: middle;
}

