body { 
  padding: 0px;
/*
  font-size: 14px;
  font-family: "Lucida Sans", "Lucida Grande", Verdana, Arial, sans-serif;  */
  margin-left: 2%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 0%;
  background-image:url('./images/layeredBkg.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-color: #f7d3b9;
  display: flex;
  text-size-adjust: none;
}

/* When the window is wider than the background we cover but don't stretch the window vertically to cover on mobile with a long screen height */
@media (min-width: 1211px) {
   body {
      background-size: cover;
   }
}

@media (min-resolution: 195dpi) {
   body {
      font-size: 140%;
   }

   .capsuleSmall {
      width: 270px;
      height: 250px;
   }
   .capsuleMenu {
      width: 258x;
   }
   .capsuleMenuItem {
      width: 248px;
   }
   .capsuleExpanded {
      height: 915px;
   }
   .capsuleContent {
      overflow: hidden;
      width: 95%;
      padding-top: 8px;
      margin-left: 5;
   }
   #navDividerIcon {
      width: 52px;
      height: 52px;
   }
   .closeIconSize {
      width: 52px;
      height: 52px;
      vertical-align: -20px;
   }
}

@media (max-resolution: 195dpi) {
   body {
      font-size: 100%;
   }

   .capsuleSmall {
      width: 182px;
      height: 182px;
   }
   .capsuleMenu {
      width: 170px;
   }
   .capsuleMenuItem {
      width: 160px;
   }
   .capsuleExpanded {
      height: 360px;
   }
   .capsuleContent {
      overflow: hidden;
      width: 65%;
      padding-top: 8px;
      margin-left: 190px;
   }
   #navDividerIcon {
      width: 28px;
      height: 28px;
   }
   .closeIconSize {
      width: 24px;
      height: 24px;
      vertical-align: -7px;
   }

}

#content {
  /* background-color: F8FCFD; */
  background-color: #FFFFFF; 
  padding-top: 4px;
  padding-bottom: 15px;
  width: 100%;
/*
  border: solid 1px #000;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
*/
}

#mainSection {
   display: flex;
   width: 98.1%;
}

#mainPanel {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: #ffffff;
  padding-right: 0%;
  padding-left: 1%;
  padding-bottom: 8px;
  padding-top: 8px;
  border: solid 1px #112255;
  width: 97%;
}

h1 { 
   /* font-size: 26px;  */
   margin: 1em 0px 0.5em; 
   padding-top: 4px; 
   border-top: 1px dotted #d5d5d5; 
}
h2 { 
   padding: 0px;
   padding-bottom: 3px;
   font-size: 120%;
   margin: 0.5em 0 0.5em;
}

.highlight {
   padding: 2px;
   font-size: 130%;
   font-weight: bold;
   color: #0815D0;
}

.code, code {
   width: 100%;
}

.code, code, .qcode {
   color: #000; 
   border: 1px solid #000047;
   padding: 6px;
   display: block;
   margin-top: 2px;
   /* background-color: #EDF5FD; */
   background-color: #F5FAFF;
   max-height: 50em;
   max-width: 90%;

   overflow:auto;
}

.qcode {
   width: auto;
}

.code p {
   margin: 0px;
}

.filename {
   margin-top: 10px;
   position: relative;
   font-size: smaller;
   font-family: monospace; 
}

.member {
   color: #570057;
   font-weight: bold;
}

.keyword {
   color: #000557;
   font-weight: bold;
}

.string {
   color: #003000;
}

.templateString {
   color: #003535;
}

.comment {
   color: #222;
}

.tagBox {
   float: left;
   padding-left: 1%;
   padding-right: 2%;
   margin-bottom: 8px;
}

@media (min-width: 1030px) {
  .tagBox {
      width: 61.5%;
  }
  .tagGraphic {
      width: 30%;
  }
  .tagBox, .tagGraphic {
      height: 190px;
  }

  #tagImg {
      height: 172px;
  }
}

@media (min-width: 730px) and (max-width: 1030px) and (max-resolution: 195dpi) {
  .tagBox {
      width: 61.5%;
  }
  .tagGraphic {
      width: 30%;
  }
  .tagBox, .tagGraphic {
      height: 210px;
  }

  #tagImg {
      height: 120px;
  }
}

@media (min-width: 730px) and (max-width: 1030px) and (min-resolution: 195dpi) {
  .tagBox {
      width: 61.5%;
  }
  .tagGraphic {
      width: 30%;
  }
  .tagBox, .tagGraphic {
      height: 300px;
  }

  #tagImg {
      height: 120px;
  }
}

@media (max-width: 730px) {
  .tagGraphic {
      width: 100%;
      height: 160px;
  }
  .tagBox {
      width: 100%;
      height: 120px;
  }
  #tagImg {
      height: 142px;
  }
}

.tagline {
   margin-top: 20px;
   font-size: 180%;
   margin-bottom: 2px;
}

.taglineTwo {
   font-size: 130%;
   margin-bottom: 10px;
   font-weight: bold;
}

.intro {
   font-size: 120%;
}


.videoLink {
   font-size: 120%;
}
.tagGraphic {
   margin-top: 0px;
   float: left;
   margin-left: 1.0%;
}

.infoBoxTitle {
   /* font-size: larger; */
   font-size: 120%;
   font-weight: bold;
   margin-top: 8px;
   margin-bottom: 4px;
}

.infoBox {
   background-color: #FFFFFF; 
   background:radial-gradient(#FFFFFF,#CACACA 300%);
   cursor: pointer;
   padding-left: 1%;
   padding-right: 1%;
   padding-bottom: 5px;
   margin-right: 0.8%;
   margin-top: 8px;
   margin-bottom: 8px;
   float:left;
   border: 1px solid #112255;
   /* font-size: 14px; */
}

@media (min-width: 1230px) {
  .infoBox {
      width: 30.1%;
      height: 90px;
  }
}

@media (max-width: 1230px) and (min-width: 800px) and (max-resolution: 195dpi) {
  .infoBox {
      width: 30.1%;
      height: 120px;
  }
}

@media (max-width: 1230px) and (min-width: 800px) and (min-resolution: 195dpi) {
  .infoBox {
      width: 30.1%;
      height: 190px;
  }
}

@media (max-width: 800px) {
  .infoBox {
      width: 100%;
      height: 80px;
  }
}

.infoBox:hover {
  /* background-color: #c3eaea; */
  background-color: #BEDCFA;
  background:radial-gradient(#BEDCFA,#3B7BBB 300%);
}

.infoBoxSelected {
   background-color: #7CB0F1;
   background:radial-gradient(#7CB0F1,#3B7BBB 300%);
}

.infoBoxSelected:hover {
   background-color: #7CB0F1;
   background:radial-gradient(#7CB0F1,#3B7BBB 300%);
}

.detailBox ul {
   margin-top: 0px;
}

.detailBox, .defaultDetailBox {
   margin-top:10px;
   padding-right: 15px;
}

.newRow {
   clear:both;
}

#title { 
   text-decoration:none; 
   /* color: #134783;  */
   /* border-bottom: 0px;  */
   margin-left: 0px;
}

.logo a {
   text-decoration:none; 
   display:inline;
   color: #0F1F99;
}

.logo a:visited {
   color: #0F1F99;
}

#content {
/*   width: 94%; */
}

.videoBox {
   width: 96%;
}

.mainContent h3, .mainContent h4 {
   margin-bottom: -5px;
}

.navbar {
   background-color: #FFFFFF;
   /* background:radial-gradient(#FFFFFF,#CACACA 300%); */
   padding-left: 1%;
   padding-right: 1%;
   padding-bottom: 4px; 
   padding-top: 4px;

   margin-left: 0px;
   margin-right: 0px;
   margin-bottom: 12px;

   text-decoration:none;
   border: solid 1px #112255;
}

.nav {
   padding-left: 10px;
   display:inline;
   list-style:none;
   width:80%;
   vertical-align: -4px;
}

.nav a {
   text-decoration:none;
   padding-left: 1%;
   padding-right:  1%;
   padding-top: 12px;
   padding-bottom: 7px;
   vertical-align: 5px;
   color: #000;
   font-size: 120%;
}

.nav li {
   display:inline;
}

.nav a:hover {
        /* background-color: #EDF5FD; */
        /* background-color: #c3eaea; */
        /*background-color: #BEDCFA;*/
        border-bottom: 3px solid #9CD0FF;
}
.nav a.active {
    font-weight: bold;
    border-bottom: 3px solid #7CB0F1;
    }

.layer1 {
   background-color: #F4C9A4; 
}

.layer2 {
  background-color: #E27C58;
}

.layer3 {
  background-color: #C84632;
}

.layer4 {
  background-color: #A73F37;
}

.layer5 {
  background-color: #510602;
}

.layer6 {
  background-color: #370D0F;
  color: #FFFFFF;
}

.layeredBkg {
   background-image: url('images/stratacodelogobkgtiny3.jpg');
   background-repeat: repeat-x;
   padding-left: 0px;
   background-position: left center;
}

.layerHeader {
   width: 325px;
   padding: 12px;
 }


.mainFlipCell {
  width: 100%;
  height: 500px
}

.innerFlipCell {
  width: 65%;
  height: 500px;
}

.nextul {
  list-style: none; 
  padding-left: 0px;
  padding-top: 0px;
  border-top: 0px;
  margin-top: 0px;
  display:inline;
}

.nextul li {
  display: inline;
  padding-top: 0px;
  margin-top: 0px;
  width:17px; 
  height:17px;  
}

#mainpager { 
  list-style: none; 
  padding-left: 0px;
  padding-top: 0px;
  border-top: 0px;
  margin-top: 0px;
}
#mainpager li {
  background-image: url('images/unselected.png'); 
  width:17px; 
  height:17px;  
  display: inline;
  padding-top: 0px;
  margin-top: 0px;
  padding-right: 17px;
}
#mainpager li.activeSlide { 
  background-image: url('images/selected.png') 
}

.innerPager {
   position: relative; 
   left:500px; 
   top:480px; 
   z-index:1000;
   display: inline;
}

.innerPager ul {
  list-style: none; 
  padding-top: 0px;
  margin-top: 0px;
  padding-left: 0px;
  z-index:1000;
  display: inline;
}

.innerPagerLi {
  background-image: url('images/unselected.png'); 
  padding-right: 17px;
  width:17px; 
  height:17px;  
  display: inline;
  padding-top: 0px;
  margin-top: 0px;
  z-index:1000
}

.innerPager li.activeSlide {
  background-image: url('images/selected.png'); 
}

.openArrow {
   width:0px; 
   height:0px; 
   border-left: 18px solid transparent; 
   border-right: 18px solid transparent; 
   border-bottom: 14px solid #9EBDDB;
   position:absolute; left:128px; top: -19px;
}

.exampleIndex, .pageIndex {
   float: left;
   /* width: 25%; */
   background: #fff;
   padding: 6px;
   border: 1px solid #112255;
}

/* List entries */
.exampleIndex, .pageIndexEntry, .exampleIndexEntry, .videoBox {
   margin-bottom: 4px;
}

.pageIndexEntry:hover {
   background-color: #BEDCFA;
}

.exampleIndexEntry a, .videoBox a, .pageIndexEntry a {
  text-decoration: none; 
}

/** Full page width */
.navbar, .defaultDetailBox, .mainContent {
   width: 96%;
}

.detailBox {
  width: 96.2%;
  /* background-color: #c3eaea; */
  background-color: #BEDCFA;
  border: 1px solid #112255;
  background:radial-gradient(#BEDCFA,#3B7BBB 300%);
}

.pageIndexEntry, .exampleIndexEntry, .videoBox {
   background-color: #fff;
   background:radial-gradient(#FFFFFF,#CACACA 300%);
}

#exampleContent, .mainContent, #pageContent, .defaultDetailBox, #sectionContent  {
   background-color: #fff;
}

#sectionContent {
  border: 1px solid #ccc;
  padding: 10px;
}

#sectionContent h2 {
  margin: 10px 0 10px 0;
}

.pageIndexSelected, .exampleIndexSelected {
   background-color: #7CB0F1;
   background:radial-gradient(#7CB0F1,#CACACA 300%);
}

.sectionSelected {
   border-bottom: 3px solid #7CB0F1;
}

#ideIndexList {
   list-style: none;
}

#ideIndexList li + li {
    border-top: 0px;
}

.ideIndexSelected, .ideIndexEntry {
   border: solid 1px #112255;
   padding-left: 5px;
   padding-right: 5px;
   padding-top: 3px;
   padding-bottom: 3px;
   max-width: 250px;
}

.ideIndexSelected a, .ideIndexEntry a {
   width: 100%;
   text-decoration:none;
}

.ideIndexSelected {
   background-color: #7CB0F1;
}

.ideIndexEntry:hover {
   background-color: #BEDCFA;
}

/* Floating boxes on the background */
.mainContent, .detailBox, .defaultDetailBox, .videoBox {
   padding-top: 8px;
   padding-left: 1%;
   padding-right: 1%;
   padding-bottom: 8px;

   border: solid 1px #112255;
}

/* Floating boxes on the background */
.pageIndexEntry, .exampleIndexEntry {
   padding-top: 4px;
   padding-left: 4px;
   padding-right: 1%;
   padding-bottom: 4px;

   border: solid 1px #112255;
}

.exampleIndexEntry {
   overflow: auto;
}

.tagGraphic, .tagBox {
   padding-top: 8px;
   padding-left: 1%;
   padding-right: 1%;
   padding-bottom: 8px;
}

#exampleContent, #pageContent {
   margin-left: 0px;
   min-height: 30%;
   padding-top: 1%;
   padding-left: 1%;
   padding-right: 1%;
   padding-bottom: 1%;

   border: solid 1px #112255;
   flex: 1 1 auto;
   width: 50%;
}

#navDividerIcon {
   padding-top: 172px;
}

#navDivider {
   position: relative;
}

.exampleIndexTitle {
   padding-bottom: 2px;
   padding-top: 2px;
}

.exampleTitle, .videoTitle, .exampleIndexTitle {
   font-weight: bold;
}

.videoTitle, .exampleTitle, .pageTitle {
   font-size: 120%;
   padding-bottom: 2px;
   padding-top: 2px;
}

.introBox, .videoTitle {
   margin-left: 18%;
  /* margin-left: 130px; */
}

.ideIndexTitle {
   padding-top: 2px;
   padding-bottom: 2px;
}


.capsule {
  float: left;
  background: #FFFFFF;
  margin: 5px;
  margin-left: 16px;
  border: 1px solid #000;
  box-shadow: 2px 2px 2px #000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#A73F37')";
  -webkit-transition: width 0.1s, height 0.3s;
  transition: width 0.1s, height 0.3s;
}

.capsuleExpanded {
   width: 96%; 
}

.capsule:hover {
   border-color: #424894;
}


.capsuleTitle {
   positition: relative;
   background: #B2BAF7;
   width:auto;
   font-weight:bold;
   /* font-size:larger;*/
   color:#444;
   padding-top: 3px;
   padding-bottom: 3px;
   padding-left: 5px;
}

.capsuleMenu {
   float: left;
}

.capsuleMenu ul {
   list-style: none;
   padding-left: 5px;
}

.capsuleMenuItemSelected {
   background-color: #7CB0F1;
}

.capsuleMenuItem {
   cursor: pointer;
   margin-bottom: 8px;
   padding-top: 4px;
   padding-left: 5px;
   padding-right: 4px;
   padding-bottom: 4px;

   border: solid 1px #000;
   box-shadow: 1px 1px 1px #000;
}

.capsuleMenuItem:hover {
   background-color: #BEDCFA;
}

.capsuleContentTitle {
   font-weight: bold;
   font-size: 120%;
   color: #0F1F99;
   margin-left: 140px;
}

.closeCapsule {
   padding-left: 3px;
   padding-right: 3px;
   cursor: pointer;
}

.closeCapsule:hover {
   color: #0F1F99;
}

#docOverview {
   min-height: 398px;
}

.insetBox {
   padding: 15px;
   background-color: #DDD;
}

.centerImageBlock {
   margin: 0px auto;
   display: block; 
   max-width: 90%;
}


